/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* ----- << Global Settings >> -----*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #252525;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Styles for h1, h2, h3 elements */
h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

/* Orange color for child shaped icon in h1 element */
.kid {
    color: #e47921;
}

/* Color change styles for h1 element when cursor hovers over 'Drama Kids!' text */
.color-change1:hover {
    color: red;
    transition: 0.2s;
}

.color-change2:hover {
    color: rgb(255, 234, 0);
    transition: 0.2s;
}

.color-change3:hover {
    color: green;
    transition: 0.2s;
}

.color-change4:hover {
    color: blue;
    transition: 0.2s;
}

.color-change5:hover {
    color: violet;
    transition: 0.2s;
}

/* Styles for menu in nav bar */
.menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

.menu>li {
    margin-bottom: 1em;
}

/* To ensure current menu item is underlined when user is on this page */
.active {
    border-bottom: 2px solid #e47921b3;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

.menu a:hover {
    border-bottom: 2px solid #e47921b3;
}

/*Nav toggle */
#nav-toggle:checked~nav {
    background-color: #ffffff;
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
/* Make main element take up any surplus space to push footer down*/
main {
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Hero photo section */
.cover {
    height: 600px;
    width: 100%;
    background-color: #ffffff;
    background: url("../images/bells.webp") no-repeat center center/cover;
    box-shadow: 0 2px 2px #3a3a3a;
    position: relative;
}

/* Styles for the orange overlay on top of hero image with tag line for Drama Kids! */
.cover-text {
    background-color: #e47921b3;
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 120px;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* Color white for h2 & h3 in orange overlay over hero image */
.cover-text>h2,
.cover-text>h3 {
    color: #ffffff
}

/* Section 1 */
.section_1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}

/* About us section on home page */
.about_us {
    text-align: center;
    display: block;
    margin: 8px;
    line-height: 30px;
}

.headings {
    border-bottom: 2px solid #252525;
    width: 100%;
    display: block;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 200%;
}

.information {
    padding: 15px;
}

/* Section 2 */
/* styles for reviews */
.section_2 {
    background-color: #ffffff;
    color: #252525;
    text-align: center;
}

.review_header {
    letter-spacing: 3px;
    font-size: 2rem;
}

.section_2_reviews {
    background-color: #ffffff;
    color: #252525;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.review {
    padding: 2rem 2rem;
    text-align: center;
}

/* Circle images in reviews section */
.review img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #252525;
}

/* Call to action button*/
.h2-button {
    display: none;
}

.center {
    text-align: center;
    padding-bottom: 15px;
}

.cta-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #252525;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin: 80px;
}

/* Changes button colour to orange when hovered over */
.cta-button:hover {
    background-color: #e47921;
}

/* Footer */
/* Changes social media icons to orange when hovered over */
/* Hidden h2 element in footer to keep semantic structure */
.h2-footer {
    display: none
}

.social-media-icon i:hover {
    color: #e47921 !important;
}

.social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #252525;
    color: #ffffff;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

.connect {
    text-align: center;
    background-color: #252525;
    color: #ffffff;
    padding-top: 20px;
    letter-spacing: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.copyright {
    text-align: center;
    background-color: #252525;
    color: #ffffff;
    padding: 20px;
    letter-spacing: 3px;
}

/* Gallery Page */
/* No h2 to be visible on Gallery page */
.hidden-h2 {
    display: none;
}

/* Image styling */
.drama_photos img {
    width: 100%;
    line-height: 1em;
}

.drama_photos {
    line-height: 0;
}

.photo {
    border: 3px solid #252525;
}

/* Hover style used so border of photos will change color to orange when hovered over */
.photo:hover {
    border: 3px solid #e47921;
    transition: 0.5s;
}

/* Contact us page with form */
.contact-us-form {
    background-image: url("../images/drama_lesson.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #ffffffcc;
    max-width: 500px;
    margin: 6em 2em;
    padding: 20px;
    padding-top: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000004d;
}

.form h2 {
    text-align: center;
}

.form {
    text-align: left;
}

.label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #c9c2c2;
    border-radius: 5px;
}

.radio {
    margin-right: 5px;
}

.form-button {
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* Hover style use on submit button to change color to orange when hovered over */
.form-button-hover:hover {
    background-color: #e47921;
}

/* Response Page */
.response {
    background-color: #ffffffcc;
    max-width: 500px;
    margin: 10em auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000004d;
}

.response h2 {
    font-size: 200%;
    text-align: center;
    padding: 40px
}

.response p {
    font-size: 200%;
    text-align: center;
    padding: 40px
}

/*---MEDIA QUERIES---*/
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (max-width: 992px) {

    .drama_photos {
        column-count: 3;
        column-gap: 0;
    }

    .section_2_reviews {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    .menu {
        display: flex;
    }

    .menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    .cover-text {
        width: 600px;
        left: 50px;
    }

    /* Main content */
    /*Push main content down to accomodate larger header */
    main {
        margin-top: 77px;
    }

    .drama_photos {
        column-count: 3;
        column-gap: 0;
    }
}

/* small devices */
@media (max-width: 480px) {
    .drama_photos {
        column-count: 1;
        column-gap: 0;
    }
}