/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* ----- << Global Settings >> -----*/

*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}


/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: lightcoral;
}

h1 {
    font-family: 'Roboto', sans-serif;
}
/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}