/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* ----- << Global Settings >> -----*/

*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}


/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Styles for h2 elements */

h2 {font-family: 'Roboto', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#252525;

}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#252525;
}

/* Color change styles for h1 element when cursor hovers over 'Drama Kids!' text */
.color-change1:hover {
    color:red;
    transition: 0.2s;
}
.color-change2:hover {
    color:rgb(255, 234, 0);
    transition: 0.2s;
}
.color-change3:hover {
    color:green;
    transition: 0.2s;
}
.color-change4:hover {
    color:blue;
    transition: 0.2s;
}
.color-change5:hover {
    color:violet;
    transition: 0.2s;
}


/* To make exclamation mark in h1 grow when hovered on */
.color-change-grow:hover {
    font-size: 130%;
}

.menu {
    font-size:110%;
    letter-spacing: 4px;
    list-style: none;
}

.menu > li {
    margin-bottom: 1em;
}

/* To ensure current menu item is underlined when user is on this page */
.active{
    border-bottom: 1px solid #3a3a3a;
}



/* Navbar styles with dropdown toggle */
nav{
    position: absolute;
    /* background-color: #ffffff; */
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display:none;
    top:100%;
}

/*Nav toggle */
#nav-toggle:checked~nav {
    background-color: #ffffff;
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {

    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Cover photo section */
.cover {
    height: 600px;
    width:100%;
    background-color: #ffffff;
    background: url("../images/bells.jpg") no-repeat center center/cover;


}

/* Section 1 */
.section_1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    
}

.about_us {
    text-align: center;
    display: block;
    margin: 8px;
    line-height: 30px;
}

.headings {
    border-bottom: 2px solid #252525;
    width: 100%;
    display: block;
}

.information {
    padding: 15px;
}



/* Section 2 */
.section_2 {
    background-color: #ffffff;
    color: #252525;
    text-align: center;
}

.review_header {
    letter-spacing: 3px;
    font-size: 2rem;
}

.section_2_reviews {
    background-color: #ffffff;
    color: #252525;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.review {
    padding: 2rem 2rem;
    text-align: center;
}

.review img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #252525;
    
}

/* Call to action button - MAY NEED ADJUSTING*/

.center {
    text-align: center;
    padding-bottom: 15px;
}

.cta-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #252525;
    color: #ffffff; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 24px; 
    text-transform: uppercase; 
    font-family: 'Roboto', sans-serif; 
    cursor: pointer;

}

.cta-button:hover {
    background-color: #333333; /* Lighter background on hover */
}

.gallery-button {
    padding-top: 20px;
}


/* Footer */
.social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #252525;
    color: #ffffff;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff; 
}


.connect { 
    text-align: center;
    background-color: #252525;
    color: #ffffff;
    padding-top: 20px;
    letter-spacing: 3px;
}

.copyright { text-align: center;
    background-color: #252525;
    color: #ffffff;
    padding-bottom: 20px;
    letter-spacing: 3px;
}

/* Gallery Page */
.drama_photos img {
    width: 100%;
    line-height: 1em;
}

.drama_photos {
    line-height: 0;
}




/*---MEDIA QUERIES---*/
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }
    .menu {
        display:flex;
    }
    .menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display:none;
    }
    .logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /*Push main content down to accomodate larger header */
        margin-top: 77px;
        margin-right: auto;
    }

    .drama_photos {
        column-count: 2;
        column-gap: 0;
    }

    .section_2_reviews {
        grid-template-columns: 2fr;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    } 
    /* FOOTER MEDIA QUERY NEEDED TO ADJUST CONTENT PUSHED TO LEFT ON IPAD */ 
}
/* Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        .menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }

        .drama_photos {
            column-count: 3;
            column-gap: 0;
        }

        .section_2_reviews {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        } 
    }
/* small devices */
@media (max-width: 480px) {
    .section_2_reviews {
        grid-template-columns: 2fr;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    } 
    .drama_photos {
        column-count: 1;
        column-gap: 0;
    }


}